In [1]:
import requests
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
headers = {'User-Agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:66.0) Gecko/20100101 Firefox/66.0"}
REDDIT_ROOT_URL = "https://reddit.com"


url = "https://reddit.com/r/programming/.json?limit=100" 

def get_with_headers(url):
    return requests.get(url, headers=headers)


def get_subreddit_posts(subreddit_url):
    print(f"Getting posts from {url}...")
    response = get_with_headers(url)
    raw_posts = response.json()['data']['children']

    posts = []
    for raw_post in raw_posts:
        post = {}
        raw_post = raw_post['data']
        post['name'] = raw_post['name']
        post['title'] = raw_post['title']
        post['score'] = raw_post['score']
        post['url'] = REDDIT_ROOT_URL + raw_post['permalink']
        post['created_utc'] = raw_post['created_utc']
        post['num_comments'] = raw_post['num_comments']
        
        posts.append(post)

    return posts

In [3]:
#subreddit_url = "https://reddit.com/r/programming.json?limit=100" 
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100...

In [4]:
df_posts = pd.DataFrame(posts)
df_posts.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fysxgs,IBM will offer a course on COBOL next week,352,https://reddit.com/r/programming/comments/fysx...,1.586566e+09,134
1,t3_fyk1zt,18 GitLab features are moving to open source,1099,https://reddit.com/r/programming/comments/fyk1...,1.586539e+09,50
2,t3_fy3eaz,Firefox (75+) now supports native lazy loading...,1616,https://reddit.com/r/programming/comments/fy3e...,1.586476e+09,199
3,t3_fyridm,Bring your own machine to Visual Studio Online,16,https://reddit.com/r/programming/comments/fyri...,1.586561e+09,2
4,t3_fyrsyt,Turn your selfies into an anime character usin...,10,https://reddit.com/r/programming/comments/fyrs...,1.586562e+09,7
...,...,...,...,...,...,...
95,t3_fxczn8,Visual Studio Code March 2020,143,https://reddit.com/r/programming/comments/fxcz...,1.586374e+09,44
96,t3_fxs9qz,Gostradamus: Better DateTimes in Go,5,https://reddit.com/r/programming/comments/fxs9...,1.586438e+09,5
97,t3_fyab4d,Swapping the value. #4 programming with C++,0,https://reddit.com/r/programming/comments/fyab...,1.586501e+09,0
98,t3_fxs3ai,Ode to J,5,https://reddit.com/r/programming/comments/fxs3...,1.586438e+09,3
99,t3_fyciv2,How to work with CSV files in Python 3,0,https://reddit.com/r/programming/comments/fyci...,1.586510e+09,0

In [5]:
last_value= df_posts.name[99]

In [6]:
url= "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts= get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fyciv2...

In [7]:
df_posts_2 = pd.DataFrame(posts)
df_posts_2.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fxmqm0,A Commodore 64 Skin for Windows Terminal,17,https://reddit.com/r/programming/comments/fxmq...,1.586411e+09,5
1,t3_fyaxg0,I have created the COVID-19 tracker for Global...,0,https://reddit.com/r/programming/comments/fyax...,1.586504e+09,12
2,t3_fxzvxw,coding in VR,0,https://reddit.com/r/programming/comments/fxzv...,1.586464e+09,6
3,t3_fxn5w3,Pluralsight is free for April,11,https://reddit.com/r/programming/comments/fxn5...,1.586413e+09,0
4,t3_fxyj30,"Hjson, a user interface for JSON",1,https://reddit.com/r/programming/comments/fxyj...,1.586459e+09,4
...,...,...,...,...,...,...
95,t3_fwk2dj,Crystal 0.34.0 released!,74,https://reddit.com/r/programming/comments/fwk2...,1.586264e+09,31
96,t3_fw0vtk,"This Video Has 164,608 Views (Tom Scott on web...",3505,https://reddit.com/r/programming/comments/fw0v...,1.586187e+09,321
97,t3_fxahhk,New devlog for my upcoming indie game :),0,https://reddit.com/r/programming/comments/fxah...,1.586366e+09,0
98,t3_fxbyjr,I want to share this open source Extension for...,0,https://reddit.com/r/programming/comments/fxby...,1.586371e+09,0
99,t3_fx71pb,Best YouTubers related to Programming. Great s...,0,https://reddit.com/r/programming/comments/fx71...,1.586355e+09,1

In [8]:
last_value= df_posts_2.name[99]

In [9]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fx71pb...

In [10]:
df_posts_3 = pd.DataFrame(posts)
df_posts_3.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fxcj0j,SLIDER UI animation in blend,0,https://reddit.com/r/programming/comments/fxcj...,1.586373e+09,0
1,t3_fx3jua,Test Doubles,0,https://reddit.com/r/programming/comments/fx3j...,1.586339e+09,1
2,t3_fwcqi8,A concurrency C library 10x faster than Golang.,273,https://reddit.com/r/programming/comments/fwcq...,1.586228e+09,98
3,t3_fx6824,"Latest TIOBE Contender: Scratch, The Learning ...",0,https://reddit.com/r/programming/comments/fx68...,1.586352e+09,0
4,t3_fx9v8k,Deploys at Slack,0,https://reddit.com/r/programming/comments/fx9v...,1.586364e+09,0
...,...,...,...,...,...,...
95,t3_fwimqt,Machine Learning in Visual Studio 2019,0,https://reddit.com/r/programming/comments/fwim...,1.586258e+09,1
96,t3_fwkngg,Phos Metashellet: a Forth derived Reverse Poli...,0,https://reddit.com/r/programming/comments/fwkn...,1.586267e+09,6
97,t3_fwbsmg,Race A* in a Maze! (p5js game),0,https://reddit.com/r/programming/comments/fwbs...,1.586225e+09,1
98,t3_fwbp55,Tracking SQL Correctness and Performance Regre...,0,https://reddit.com/r/programming/comments/fwbp...,1.586224e+09,0
99,t3_fwjjed,Top 10 Real World Applications of Artificial I...,0,https://reddit.com/r/programming/comments/fwjj...,1.586262e+09,0

In [11]:
last_value= df_posts_3.name[99]

In [12]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fwjjed...

In [13]:
df_posts_4 = pd.DataFrame(posts)
df_posts_4.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fwilur,How to Make Money Offline as a Programmer? A n...,0,https://reddit.com/r/programming/comments/fwil...,1.586257e+09,0
1,t3_fwhva0,Building a Telegram Bot with Node.js,0,https://reddit.com/r/programming/comments/fwhv...,1.586254e+09,0
2,t3_fwgyqx,Revisiting the Unix Philosophy in 2018 - Micro...,0,https://reddit.com/r/programming/comments/fwgy...,1.586249e+09,1
3,t3_fwji1x,Top 10 live chat plug-ins for wordpress websit...,0,https://reddit.com/r/programming/comments/fwji...,1.586262e+09,0
4,t3_fwahre,Boost Your Command Line Productivity With Keyb...,0,https://reddit.com/r/programming/comments/fwah...,1.586219e+09,0
...,...,...,...,...,...,...
95,t3_fvk9rz,LCOV Tutorial - Basic Coverage For Your Program,0,https://reddit.com/r/programming/comments/fvk9...,1.586117e+09,1
96,t3_fv3dru,Even Faster Math Functions,10,https://reddit.com/r/programming/comments/fv3d...,1.586042e+09,2
97,t3_fvjuc6,Covid Pandemic and Long Queue CodeChef April C...,0,https://reddit.com/r/programming/comments/fvju...,1.586116e+09,1
98,t3_fv4ddg,Free eBook: Verified Functional Programming in...,9,https://reddit.com/r/programming/comments/fv4d...,1.586046e+09,0
99,t3_fuyd9j,Home-made 8bit CPU from scratch,19,https://reddit.com/r/programming/comments/fuyd...,1.586024e+09,10

In [14]:
last_value= df_posts_4.name[99]

In [15]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fuyd9j...

In [16]:
df_posts_5 = pd.DataFrame(posts)
df_posts_5.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fv94cb,WAM for everyone: a virtual machine for logic ...,2,https://reddit.com/r/programming/comments/fv94...,1.586067e+09,0
1,t3_fvmzps,Google is the best college and StackOverflow i...,0,https://reddit.com/r/programming/comments/fvmz...,1.586126e+09,1
2,t3_fvdhoi,"To Trait, or not to Trait?",0,https://reddit.com/r/programming/comments/fvdh...,1.586092e+09,1
3,t3_fvi1mc,Brush up your skills with these best free courses,0,https://reddit.com/r/programming/comments/fvi1...,1.586109e+09,0
4,t3_fuxto2,Ivy League Online Courses - Free resources,19,https://reddit.com/r/programming/comments/fuxt...,1.586022e+09,1
...,...,...,...,...,...,...
95,t3_fueedx,Server Nope Beta Launch!,0,https://reddit.com/r/programming/comments/fuee...,1.585941e+09,0
96,t3_ftu3lw,"When debugging, your attitude matters",7,https://reddit.com/r/programming/comments/ftu3...,1.585860e+09,0
97,t3_fu6d5k,Decentralised Authentication Project - Looking...,0,https://reddit.com/r/programming/comments/fu6d...,1.585911e+09,2
98,t3_ftm68i,Why (and How) We Moved from Apache Kafka to Ap...,29,https://reddit.com/r/programming/comments/ftm6...,1.585833e+09,16
99,t3_fu7xvc,Comparing the single-file efficiency of versio...,0,https://reddit.com/r/programming/comments/fu7x...,1.585919e+09,16

In [17]:
last_value= df_posts_5.name[99]

In [18]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fu7xvc...

In [19]:
df_posts_6 = pd.DataFrame(posts)
df_posts_6.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fufq7t,How To Hire Good Software Developers,0,https://reddit.com/r/programming/comments/fufq...,1.585945e+09,23
1,t3_fu3hi8,Manning on Twitch Calendar â€“ Live Author Appea...,0,https://reddit.com/r/programming/comments/fu3h...,1.585897e+09,0
2,t3_fu5xz7,PHP 8's Release Schedule is here! ðŸ¥³,0,https://reddit.com/r/programming/comments/fu5x...,1.585909e+09,0
3,t3_fuf21j,My son's first program - Behold the snake calc...,0,https://reddit.com/r/programming/comments/fuf2...,1.585943e+09,2
4,t3_fucbr0,C++ Program ideas that will impress a hiring m...,0,https://reddit.com/r/programming/comments/fucb...,1.585934e+09,0
...,...,...,...,...,...,...
95,t3_ftb50h,Is this Learn To Code bundle worth anything? I...,0,https://reddit.com/r/programming/comments/ftb5...,1.585784e+09,3
96,t3_ftds22,The Essential Tools for Programmers,0,https://reddit.com/r/programming/comments/ftds...,1.585793e+09,1
97,t3_fsrcfs,An overengineered RGB controller for Arduino (...,9,https://reddit.com/r/programming/comments/fsrc...,1.585710e+09,7
98,t3_fs8p8c,How an anti ad-blocker works: Reverse-engineer...,306,https://reddit.com/r/programming/comments/fs8p...,1.585640e+09,80
99,t3_ft0bbk,Against Process,1,https://reddit.com/r/programming/comments/ft0b...,1.585750e+09,0

In [20]:
last_value= df_posts_6.name[99]

In [21]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_ft0bbk...

In [22]:
df_posts_7 = pd.DataFrame(posts)
df_posts_7.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fszw1y,How SNES emulators got a few pixels from compl...,0,https://reddit.com/r/programming/comments/fszw...,1.585748e+09,1
1,t3_fsalk8,Cognitive Biases In Software Development,141,https://reddit.com/r/programming/comments/fsal...,1.585651e+09,60
2,t3_ft2y3s,[LIVE] Who's freezing hiring from coronavirus,0,https://reddit.com/r/programming/comments/ft2y...,1.585758e+09,0
3,t3_ft6645,Connecting Rust to Microsoft SQL Server on Linux,0,https://reddit.com/r/programming/comments/ft66...,1.585767e+09,0
4,t3_ft3acf,Devolio - Social community around programming,0,https://reddit.com/r/programming/comments/ft3a...,1.585759e+09,0
...,...,...,...,...,...,...
95,t3_fsanyn,How to Make a JS Candlestick Chart in Four Sim...,0,https://reddit.com/r/programming/comments/fsan...,1.585651e+09,3
96,t3_fs92li,Data vs. Corona (COVID-19),0,https://reddit.com/r/programming/comments/fs92...,1.585642e+09,0
97,t3_fs4cu6,Getting Started with the MonoGame Project: Set...,0,https://reddit.com/r/programming/comments/fs4c...,1.585621e+09,0
98,t3_frruhe,AsyncAPI â€“ OpenAPI-like specification for even...,9,https://reddit.com/r/programming/comments/frru...,1.585579e+09,5
99,t3_fs8odb,Offer Custom Apps on Apple School Manager - News,0,https://reddit.com/r/programming/comments/fs8o...,1.585640e+09,0

In [23]:
last_value= df_posts_7.name[99]

In [24]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fs8odb...

In [25]:
df_posts_8 = pd.DataFrame(posts)
df_posts_8.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_frudnc,Microsoft Edge is getting vertical tabs.,6,https://reddit.com/r/programming/comments/frud...,1.585587e+09,35
1,t3_fsb1jl,I have made an app for government to fight aga...,0,https://reddit.com/r/programming/comments/fsb1...,1.585653e+09,0
2,t3_fs8a9b,Dropbox Ignore node_modules CLI,0,https://reddit.com/r/programming/comments/fs8a...,1.585638e+09,4
3,t3_fr6pd2,How to burn the most money with a single click...,541,https://reddit.com/r/programming/comments/fr6p...,1.585492e+09,76
4,t3_fs8ujs,Learn Ruby on Rails,0,https://reddit.com/r/programming/comments/fs8u...,1.585641e+09,0
...,...,...,...,...,...,...
95,t3_fqpfcx,Write Conventional Commits with ease in Intell...,2,https://reddit.com/r/programming/comments/fqpf...,1.585420e+09,0
96,t3_fr292j,"A database of tech conferences, meet-ups, and ...",0,https://reddit.com/r/programming/comments/fr29...,1.585468e+09,1
97,t3_fqegeq,WebAssembly without Emscripten,41,https://reddit.com/r/programming/comments/fqeg...,1.585375e+09,4
98,t3_fqew2c,Consistent Hashing â€” An Efficient &amp; Scalab...,36,https://reddit.com/r/programming/comments/fqew...,1.585377e+09,5
99,t3_fr0ebb,Amazing efficiency gains from Pelagia,0,https://reddit.com/r/programming/comments/fr0e...,1.585459e+09,0

In [26]:
last_value= df_posts_8.name[99]

In [27]:
url = "https://reddit.com/r/programming/.json?limit=100&after={}".format(last_value)
posts = get_subreddit_posts(url)

Getting posts from https://reddit.com/r/programming/.json?limit=100&after=t3_fr0ebb...

In [28]:
df_posts_9 = pd.DataFrame(posts)
df_posts_9.head(100)

,name,title,score,url,created_utc,num_comments
0,t3_fqqg7f,A Visual Debugger for Jupyter,2,https://reddit.com/r/programming/comments/fqqg...,1.585423e+09,0
1,t3_fqn0mj,Deconstructing Web Cache Deception Attacks: Th...,5,https://reddit.com/r/programming/comments/fqn0...,1.585412e+09,4
2,t3_fqbvta,Human Readable Magazine Issue #2 is out! All i...,59,https://reddit.com/r/programming/comments/fqbv...,1.585364e+09,1
3,t3_fr0p23,Coding a StarCraft Bot that rushes Carriers,0,https://reddit.com/r/programming/comments/fr0p...,1.585460e+09,0
4,t3_fr4y33,How do Websites work | Simply explained with e...,0,https://reddit.com/r/programming/comments/fr4y...,1.585484e+09,1
...,...,...,...,...,...,...
84,t3_fq2nuq,"ðŸ¤ª Fun project, a simple pixel art drawing Prog...",0,https://reddit.com/r/programming/comments/fq2n...,1.585334e+09,3
85,t3_fpylok,"Coding challenges are a controversial topic, b...",0,https://reddit.com/r/programming/comments/fpyl...,1.585322e+09,3
86,t3_fpsvgw,NextJS Tutorial: Getting started with NextJS,0,https://reddit.com/r/programming/comments/fpsv...,1.585295e+09,0
87,t3_fpe712,Machine learning is still too hard to use,17,https://reddit.com/r/programming/comments/fpe7...,1.585239e+09,13
88,t3_fpo2ol,Free online Coursera learning courses during C...,2,https://reddit.com/r/programming/comments/fpo2...,1.585273e+09,0

In [29]:
all_posts = pd.concat([df_posts,df_posts_2,df_posts_3,df_posts_4,df_posts_5,df_posts_6,df_posts_7,df_posts_8,df_posts_9])

In [30]:
all_posts["created_utc"] = all_posts["created_utc"].apply(datetime.fromtimestamp)
all_posts.rename(columns={'created_utc':'date_hour'},inplace=True)

In [31]:
all_posts['date'] = [d.date() for d in all_posts['date_hour']]
all_posts['time'] = [d.time() for d in all_posts['date_hour']]

In [32]:
all_posts.head()

,name,title,score,url,date_hour,num_comments,date,time
0,t3_fysxgs,IBM will offer a course on COBOL next week,352,https://reddit.com/r/programming/comments/fysx...,2020-04-11 02:42:14,134,2020-04-11,02:42:14
1,t3_fyk1zt,18 GitLab features are moving to open source,1099,https://reddit.com/r/programming/comments/fyk1...,2020-04-10 19:17:09,50,2020-04-10,19:17:09
2,t3_fy3eaz,Firefox (75+) now supports native lazy loading...,1616,https://reddit.com/r/programming/comments/fy3e...,2020-04-10 01:45:33,199,2020-04-10,01:45:33
3,t3_fyridm,Bring your own machine to Visual Studio Online,16,https://reddit.com/r/programming/comments/fyri...,2020-04-11 01:25:59,2,2020-04-11,01:25:59
4,t3_fyrsyt,Turn your selfies into an anime character usin...,10,https://reddit.com/r/programming/comments/fyrs...,2020-04-11 01:41:21,7,2020-04-11,01:41:21

In [33]:
all_posts.shape

(889, 8)

In [34]:
all_posts.date.value_counts()

2020-04-07    87
2020-04-09    71
2020-04-02    68
2020-04-10    67
2020-04-06    65
2020-04-01    64
2020-04-08    62
2020-03-31    60
2020-03-30    55
2020-04-05    50
2020-03-28    49
2020-04-04    47
2020-03-29    41
2020-04-03    40
2020-03-27    39
2020-04-11    16
2020-03-26     7
2020-03-25     1
Name: date, dtype: int64

In [35]:
min_date = all_posts.date.min()
max_date = all_posts.date.max()

print(min_date)
print(max_date)

2020-03-25
2020-04-11

In [36]:
all_posts['weekday'] = [d.weekday() for d in all_posts['date']]

In [37]:
# 0 --> Monday
# 6 --> Sunday

all_posts.weekday.value_counts()

1    147
4    146
3    146
2    127
0    120
5    112
6     91
Name: weekday, dtype: int64

In [38]:
all_posts.sort_values("score", ascending = False, inplace = True)

In [39]:
higher_score = all_posts[:50]

In [40]:
higher_score.weekday.value_counts()

3    10
1     9
4     8
2     8
5     6
6     5
0     4
Name: weekday, dtype: int64

In [59]:
all_posts_score = all_posts[['date', 'score','weekday']].copy()

In [60]:
all_posts_score

          date  score  weekday
46  2020-04-04   4251        5
81  2020-04-01   3947        2
96  2020-04-06   3505        0
15  2020-04-05   3337        6
58  2020-03-30   3329        0
..         ...    ...      ...
10  2020-04-03      0        4
18  2020-04-08      0        2
7   2020-04-03      0        4
6   2020-04-03      0        4
44  2020-04-04      0        5

[889 rows x 3 columns]

#### Number of repeated weekdays.

In [61]:
unique = all_posts_score.date.unique().tolist()
unique_df = pd.DataFrame(unique,columns =['date'])
unique_df['weekday'] = [d.weekday() for d in unique_df['date']]
repeated = unique_df.weekday.value_counts()
repeated = repeated.to_dict()
repeated

{5: 3, 4: 3, 3: 3, 2: 3, 6: 2, 1: 2, 0: 2}

In [62]:
repeated_df = pd.DataFrame.from_dict(repeated, orient='index')
repeated_df

   0
5  3
4  3
3  3
2  3
6  2
1  2
0  2

#### Getting the number of posts per day.

In [70]:
score_per_day = all_posts_score.groupby(by='weekday').agg({'score':['sum']})
score_per_day

         score
           sum
weekday
0        12760
1         8106
2        12135
3        14146
4         8404
5         8979
6         7931

In [63]:
posts_per_day = all_posts_score.weekday.value_counts().to_frame()
posts_per_day

   weekday
1      147
4      146
3      146
2      127
0      120
5      112
6       91

In [83]:
result = pd.concat([posts_per_day, repeated_df,score_per_day], axis=1, sort=False)
result.rename(columns ={0:'repeated_weekday'},inplace=True)
result

   weekday  repeated_weekday  (score, sum)
0      120                 2         12760
1      147                 2          8106
2      127                 3         12135
3      146                 3         14146
4      146                 3          8404
5      112                 3          8979
6       91                 2          7931

In [84]:
result['posts_per_day']= result.weekday/result.repeated_weekday
result['score_per_day']= result['score', 'sum']/result.repeated_weekday
result = result.sort_values(['posts_per_day'], ascending = False)
result.reset_index(inplace=True)
result

,index,weekday,repeated_weekday,"(score, sum)",posts_per_day,score_per_day
0,1,147,2,8106,73.500000,4053.000000
1,0,120,2,12760,60.000000,6380.000000
2,3,146,3,14146,48.666667,4715.333333
3,4,146,3,8404,48.666667,2801.333333
4,6,91,2,7931,45.500000,3965.500000
5,2,127,3,12135,42.333333,4045.000000
6,5,112,3,8979,37.333333,2993.000000

In [85]:
result['index'] = result['index'].replace(0,'Monday').replace(1,'Tuesday').replace(2,'Wednesday').replace(3,'Thursday').replace(4,'Friday').replace(5,'Saturday').replace(6,'Sunday')
result.rename = result.rename(columns = {'index':'day'}, inplace = True)
result

,day,weekday,repeated_weekday,"(score, sum)",posts_per_day,score_per_day
0,Tuesday,147,2,8106,73.500000,4053.000000
1,Monday,120,2,12760,60.000000,6380.000000
2,Thursday,146,3,14146,48.666667,4715.333333
3,Friday,146,3,8404,48.666667,2801.333333
4,Sunday,91,2,7931,45.500000,3965.500000
5,Wednesday,127,3,12135,42.333333,4045.000000
6,Saturday,112,3,8979,37.333333,2993.000000

In [87]:
result.drop(['weekday', 'repeated_weekday', ('score', 'sum')], axis=1,inplace=True)
result

         day  posts_per_day  score_per_day
0    Tuesday      73.500000    4053.000000
1     Monday      60.000000    6380.000000
2   Thursday      48.666667    4715.333333
3     Friday      48.666667    2801.333333
4     Sunday      45.500000    3965.500000
5  Wednesday      42.333333    4045.000000
6   Saturday      37.333333    2993.000000

In [89]:
result = result.sort_values(['score_per_day'], ascending = False)
result

         day  posts_per_day  score_per_day
1     Monday      60.000000    6380.000000
2   Thursday      48.666667    4715.333333
0    Tuesday      73.500000    4053.000000
5  Wednesday      42.333333    4045.000000
4     Sunday      45.500000    3965.500000
6   Saturday      37.333333    2993.000000
3     Friday      48.666667    2801.333333

In [48]:
all_posts.time.value_counts()

13:06:46    2
08:00:58    2
16:02:20    2
13:06:58    2
06:55:30    2
           ..
07:26:28    1
18:45:44    1
02:17:56    1
07:23:23    1
17:26:47    1
Name: time, Length: 883, dtype: int64